*.swp
_minted-report/
benchmarks/*
!benchmarks/.gitkeep
build/*
!build/.gitkeep
c/obj/*
!c/obj/.gitkeep
cpp/obj/*
!cpp/obj/.gitkeep
report/aux/*
!report/aux/.gitkeep
report/pdf/*
!report/pdf/.gitkeep
svg-inkscape/
